@import "../common/_theme.css";


.recommended-games {
  width: 134px;
  display: flex;
  flex-flow: nowrap row;
  text-decoration: none;
  margin-block: 10px;
  margin-inline-start: 16px;
  padding-inline: 8px 5px;
  gap: 5px;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    border-radius: 100px;
  }

  &:focus {
    border: #2049df solid;
    color: black;
    border-radius: 100px;
  }
}
span {
  font-size: 18px;
  color: #0000007a;
}

.game-container {
  display: inline-block;
  cursor: default;
  text-decoration: none;
  color: inherit;

  h3 {
    color: black;
    height: 18px;
    font-size: 16px;
    margin-block: 3px;
    
    .game-page[data-type="chapter-3"] &{
      white-space: nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
     line-height: 1.2;
    }
    
  }

  p {
    color: black;
    font-size: 14px;
  }

  .game-type {
    text-decoration: none;
    color: #0000007a;
  }

  &:hover h3,
  p,
  .game-type {
    color: #0000007a;
  }
}
