@import "../common/_theme.css";

body {
  font-family: Noto Sans KR;
}
.recommended-games {
  width: 136px;
  display: flex;
  flex-flow: nowrap row;
  text-decoration: none;
  margin-block: 10px;
  margin-inline-start: 16px;
  gap: 10px;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    border-radius: 100px;
  }

  &:focus {
    border: #2049df solid;
    color: black;
    border-radius: 100px;
  }
}
span {
  font-size: 18px;
  color: #0000007a;
}

.game-container {
  display: inline-block;
  cursor: default;
  text-decoration: none;

  h3 {
    color: black;
  }
  p {
    color: black;
  }

  .game-type {
    text-decoration: none;
    color: #0000007a;
  }

  &:hover h3,
  p,
  .game-type {
    color: #0000007a;
  }
}
