@import "../common/_theme.css";

.recommended-games {
  display: flex;
  width: 136px;
  flex-flow: nowrap row;
  text-decoration: none;
  margin-left: 20px;
  margin-block: 10px;
  gap: 10px;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
    border-radius: 100px;
  }

  &:focus {
    border: #2049df solid;
    color: black;
    border-radius: 100px;
  }
}
span {
  font-size: 18px;
}

.game-container {
  display: inline-block;
  cursor: default;
  text-decoration: none;
  width: 160px;
  height: 240px;

  h3 {
    font-family: Noto Sans KR;
    color: black;
  }
  p {
    font-family: Noto Sans KR;
    color: black;
  }

  .game-type {
    font-family: Noto Sans KR;
    text-decoration: none;
    color: #0000007a;
  }
  &:hover h3,
  p,
  .game-type {
    color: #0000007a;
  }
}
