.button-container {
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  width: 384px;
  gap: 12px;
  margin-top: 10px;

  .btn-img:hover {
    rect {
      fill: #00000014;
    }
  }
}

button {
  background: none;
  border: none;
  /* 버튼 안에 있는 패딩 값 제거 */
  padding: 0;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1a73e8;
    border-radius: 50%;
  }
}

.page-2,
.page-3 {
  display: none;
}
