/* 전체적인 컴포넌트 레이아웃 */
body {
  display: flex;
  flex-flow: nowrap column;
  gap: 10px;
}
.game-page {
  display: flex;
  flex-flow: nowrap row;
  gap: 20px;
  margin-top: 10px;
  padding-inline: 20px;
}
