/* 전체적인 컴포넌트 레이아웃 */
.game-wrapper {
  display: flex;
  flex-flow: nowrap column;
  gap: 10px;
}
.game-page {
  display: flex;
  flex-flow: nowrap row;
  gap: 20px;
}

/* 포개지는 레이아웃 */

body {
  height: 100vh;
  margin: auto;
}

.game-wrapper {
  width: 100%;
  height: 246px;
  position: relative;

/* 탐색 버튼 눌렀을 때 스타일링 */
  body.is-chapter-2 [data-type="chapter-2"] {
    z-index: 4;
    opacity: 1;

  }
  body.is-chapter-2 .page-2 {
  display: block;
}

  body.is-chapter-3 [data-type="chapter-3"] {
    z-index: 5;
    opacity: 1;

  }
  body.is-chapter-3 .page-3 {
  display: block;
}

  .game-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-inline-start: 16px;

    &[data-type="chapter-1"] {
      z-index: 3;
    }
    &[data-type="chapter-2"] {
      z-index: 2;
      opacity: 0;
    }
    &[data-type="chapter-3"] {
      z-index: 1;
      opacity: 0;
    }
  }
}
