/* 전체적인 컴포넌트를 감싸는 div 레이아웃 */
body{
  height: 100vh;
  background-color: black;
  font-family: Noto Sans KR;
  display: flex;
  justify-content: center; 
  align-items: center;


  .game-component-project{
   background-color: white;
   width: 384px;
   height: 372px;
   border-radius: 10px;

  }
}

/* 전체적인 컴포넌트 레이아웃 */
.game-wrapper {
  display: flex;
  flex-flow: nowrap column;
  gap: 10px;
}
.game-page {
  display: flex;
  flex-flow: nowrap row;
  gap: 20px;
}

/* 탐색 버튼 클릭시 포개진 페이지가 나타나는 레이아웃 */

body.is-chapter-1 .game-page[data-type="chapter-1"] {
  z-index: 3;
  opacity: 1;
}


body.is-chapter-2 .game-page[data-type="chapter-2"] {
  z-index: 2;
  opacity: 1;
}

body.is-chapter-3 .game-page[data-type="chapter-3"] {
  z-index: 1;
  opacity: 1;

}
/* 포개지는 레이아웃 */
.game-wrapper {
  width: 100%;
  height: 246px;
  position: relative;

  .game-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-inline-start: 16px;
    /* 기본 상태는 화면에 3개의 페이지가 보이지 않게 설정 */
    opacity: 0; 
    z-index: 1; 

  }
}
