/* svg 배경 이미지 삽입 */
.game-1 {
  width: 160px;
  height: 172px;
  background-image: url(../../images/game-1-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
