/* 배경 이미지 삽입 */
img {
  width: 160px;
  height: 172px;
}
.game-1 {
  background-image: url(../../images/game-1-bg.png);
  border-radius: 8px;
}
.game-2 {
  background-image: url(../../images/game-2-bg.png);
  border-radius: 10px;
}
