/* 배경 이미지 삽입 */
img {
  width: 160px;
}
.game-1 {
  background-image: url(../../images/game-1-bg.png);
  border-radius: 8px;
}
.game-2 {
  background-image: url(../../images/game-2-bg.png);
  border-radius: 8px;
}
.game-3 {
  background-image: url(../../images/game-3-bg.png);
  border-radius: 8px;
}

.game-4 {
  background-image: url(../../images/game-4-bg.png);
  border-radius: 8px;
}
.game-5 {
  background-image: url(../../images/game-5-bg.png);
  border-radius: 8px;
}
.game-6 {
  background-image: url(../../images/game-6-bg.png);
  border-radius: 8px;
}
