.content-wrapper {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin-top: 20px;
}

/* 모든 아티클 공통 스타일 */
.tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: white;

  display: none;
}

/* 활성화 상태 */
.tab-content.is-active {
  display: block;
}

#panel-1 {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-flow: nowrap column;
  gap: 10px;

  .acount-info {
    inline-size: 510px;
    block-size: 132px;
    border: 1px solid var(--gray-100);
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex-flow: nowrap column;
    row-gap: 10px;

    dt {
      font-size: 12px;
      color: var(--gray-500);
      font-weight: 700;
    }
    dd{
      font-weight: 700;
    }
  }
}

#panel-2 {
  max-width: 600px; 
  height: 450px;
}

#panel-3 {
  max-width: 500px; 
  height: 600px; 
}

#panel-4 {
  max-width: 450px; 
  height: 400px;
}
