@import "../theme.css" layer(theme);

body {
  block-size: 814px;
  font-family: Noto Sans KR;
  background-color: #e0e3e7;
  display: flex;
  justify-content: center;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
  }


  .tab-container {
    inline-size: 568px;
    block-size: 614px;
    background-color: var(--white);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--gray-300);
  }
}
.nav-wrapper {
  inline-size: 100%;
  block-size: 73px;
  margin: auto;
  border-bottom: 1px solid #e5e7eb;

  .tab-nav {
    inline-size: calc(568 / 4)px;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    
  
  }
}

button {
  width: 100%;
  block-size: 73px;
  padding: 0px;
  border: none;

  &:hover {
    background-color: #f6f8fe;
    border-bottom: 3px solid #055fea;

    span {
      color: #055fea;
    }
    [data-type="icon"] {
      filter: invert(31%) sepia(84%) saturate(4709%) hue-rotate(215deg)
        brightness(97%) contrast(97%);
    }
  }

  /* 기본 브라우저 포커스 스타일 제거 */

  &:focus{
    outline: none;
  }

  &:focus-visible {
    border-radius: 10px;
    outline: dotted;
    border-bottom: 3px solid #055fea;
    color: #055fea;
    [data-type="icon"] {
      filter: invert(31%) sepia(84%) saturate(4709%) hue-rotate(215deg)
        brightness(97%) contrast(97%);
    }
  }

  [data-type="icon"] {
    inline-size: 25px;
    block-size: 25px;
    margin: auto;
    padding-bottom: 10px;
  }
}
.content-wrapper {
  h2 {
    font-size: 18px;
  }

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
}
