@layer base, theme, components, utilities;

@import "./common/normalize.css" layer(base);
@import "./common/base.css" layer(base);

@import "./theme.css" layer(theme);


@import "./components/nav-component.css" layer(component)