@layer base, theme, components, utilities;

@import "./common/normalize.css" layer(base);
@import "./common/base.css" layer(base);

@import "./common/_theme.css" layer(theme);


@import "./components/game-page.css" layer(components);
@import "./components/anchor_element.css" layer(components);
@import "./components/image-container.css" layer(components);
@import "./components/button.css" layer(components);
